<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img src="./assets/payroll.png" width="40px" style="border-radius: 20%; margin-right : 20px">
    <a class="navbar-brand" routerLink="../../home">EasyPayroll</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="../../home">Employee List
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../../employee-edit">Add Employee</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container emp-profile">

  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="{{employee.img_path}}" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
            {{employee.employee_name}}
          </h4>
          <h5>
            {{employee.employee_designation}}
          </h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                 aria-selected="true">About</a>
            </li>
          </ul>
        </div>

        <div class="tab-content profile-tab">
        <div class="row">
          <div class="col-md-3">
            <label>Name</label>
          </div>
          <div class="col-md-9 paddingClass">
            <p>{{employee.employee_name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Email</label>
          </div>
          <div class="col-md-9 paddingClass">
            <p>{{employee.employee_emailId}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Phone</label>
          </div>
          <div class="col-md-9 paddingClass">
            <p>{{employee.employee_phone}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Department</label>
          </div>
          <div class="col-md-9 paddingClass">
            <p>{{employee.employee_department}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Bio</label>
          </div>
          <div class="col-md-9 paddingClass">
            <p>{{employee.employee_bio}}</p>
          </div>
        </div>
        </div>

      </div>
      <div class="col-md-2">
        <a class="btn profile-edit-btn" (click)="editProfile()">
          <i class="far fa-edit"></i> Edit Employee </a>
      </div>

      <div class="col-md-4">

      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab " id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-3">
                <label>Salary</label>
              </div>
              <div class="col-md-9">
                <p>{{employee.employee_salary}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Federal Tax</label>
              </div>
              <div class="col-md-9">
                <p>{{employee.employee_federal_tax}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>State Tax</label>
              </div>
              <div class="col-md-9">
                <p>{{employee.employee_state_tax}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Health insurance premium</label>
              </div>
              <div class="col-md-9">
                <p>{{employee.employee_healthPremium}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Life insurance premium</label>
              </div>
              <div class="col-md-9">
                <p>{{employee.employee_lifePremium}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Retirement plan (401k) </label>
              </div>
              <div class="col-md-9">
                <p>{{employee.employee_retirementPlan}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Take Home Salary</label>
              </div>
              <div class="col-md-9">
                <p>{{employee.employee_takeHomeSalary}}</p>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>

  </form>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy;EasyPayroll 2019</p>
  </div>
  <!-- /.container -->
</footer>
